html,
body {
  font-size: 11pt;
  font-family: Inconsolata, monospace;
  overflow-x: hidden;
}

a {
    color: rgb(196, 63, 63);;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/inconsolata-v20-latin-regular.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/inconsolata-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inconsolata-v20-latin-regular.ttf') format('truetype') /* Safari, Android, iOS */
}

.composite {
    padding: 0 1em 0em 1em;
}

.canvasbox {
    position: absolute;
    width: 100%;
    height: 100%;
}

div:fullscreen>canvas {
    width: auto !important;
    height: 100% !important;
}

input:checked,
input:in-range {
    accent-color: rgb(196, 63, 63);
}

.hidden {
    display: none;
}

#rawvideo {
    height: 100%;
    width: 100%;
}

#canvas-video {
    display: none;
}

.opts {
    margin-bottom: 10px;
}

.updatenote {
    padding: 4px;
    background: rgb(196, 63, 63);;
    color: white;
    display: inline;
}